<%= form_with(model: [@pedido, @pedido_produto]) do |form| %>
  <% if pedido_produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido_produto.errors.count, "error") %> prohibited this pedido_produto from being saved:</h2>

      <ul>
        <% pedido_produto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
<div class="container">

<div class="mb-3">
    <%= form.label :produto_id %>
    <%= form.select :produto_id, Produto.all.collect { |produto| [produto.nome, produto.id] }, 
    {:selected => @pedido_produto.produto_id}, {:class=> 'form-control'} %>
  </div>

  <div class="mb-3">
    <%= form.label :valor %>
    <%= form.text_field :valor, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit 'Cadastrar' %>
  </div>
<% end %>

</div>
