<br><br><br><br><br><br><br>

<p id="notice"><%= notice %></p>
<div class="container">
<h1>Pedido Produtos</h1>
<hr>

<table class="table">
  <thead>
    <tr>
      <th>Pedido</th>
      <th>Produto</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedido_produtos.each do |pedido_produto| %>
      <tr>
        <td><%= pedido_produto.pedido_id %></td>
        <td><%= pedido_produto.produto_id %></td>
        <td><%= pedido_produto.valor %></td>
        <td><%= link_to 'Show', pedido_produto, :class => "btn btn-outline-primary" %></td>
        <td><%= link_to 'Edit', edit_pedido_produto_path(pedido_produto), :class => "btn btn-outline-primary" %></td>
        <td><%= link_to 'Destroy', pedido_produto, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+ Novo', new_pedido_produto_path, :class => "btn btn-primary" %>
