<br><br><br><br><br><br>
<p id="notice"><%= notice %></p>

<div class="container">
<p>
  <strong>Pedido Cadastrado:</strong>
  <hr>
  <%= @pedido_produto.pedido_id %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @pedido_produto.produto_id %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @pedido_produto.valor %>
</p>

<%= link_to 'Editar', edit_pedido_produto_path(@pedido_produto), :class => "btn btn-primary" %> |
<%= link_to 'Voltar', pedido_produtos_path, :class => "btn btn-primary" %>
</div>
