<br><br><br><br><br><br>
<p id="notice"><%= notice %></p>

<div class="container">
<h3>Despesa Cadastrada:</h3>
<hr>
<p>
  <strong>Nome:</strong>
  <%= @despesa.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @despesa.descricao %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @despesa.valor %>
</p>

<%= link_to 'Edit', edit_despesa_path(@despesa), :class => "btn btn-primary" %> 
<%= link_to 'Back', despesas_path, :class => "btn btn-primary" %>
</div>