<%= form_with(model: receitum) do |form| %>
  <% if receitum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receitum.errors.count, "error") %> prohibited this receitum from being saved:</h2>

      <ul>
        <% receitum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
