<br><br><br><br><br><br><br>

<p id="notice"><%= notice %></p>
<div class="container">
<h1>Receitas:</h1>
<hr>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receita.each do |receitum| %>
      <tr>
        <td><%= receitum.nome %></td>
        <td><%= receitum.descricao %></td>
        <td><%= receitum.valor %></td>
        <td><%= link_to 'Mostrar', receitum, :class => "btn btn-outline-primary" %></td>
        <td><%= link_to 'Editar', edit_receitum_path(receitum), :class => "btn btn-outline-primary" %></td>
        <td><%= link_to 'Apagar', receitum, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+ Novo', new_receitum_path, :class => "btn btn-primary" %>
</div>