<br><br><br><br><br><br>
<p id="notice"><%= notice %></p>

<div class="container">
<h3>Receita Cadastrada:</h3>
<hr>
<p>
  <strong>Nome:</strong>
  <%= @receitum.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @receitum.descricao %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @receitum.valor %>
</p>

<%= link_to 'Editar', edit_receitum_path(@receitum), :class => "btn btn-primary" %> 
<%= link_to 'Voltar', receita_path, :class => "btn btn-primary" %>
</div>