<br><br><br><br><br><br><br>

<div class="container">
<p id="notice"><%= notice %></p>
<h1>Pedidos</h1>
<hr>

<table class="table">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Valor total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.cliente.nome %></td>
        <td><%= pedido.valor_total %></td>
        <td><%= link_to 'Itens', "/pedidos/#{pedido.id}/pedido_produtos", :class => "btn btn-outline-primary" %></td>
        <td><%= link_to 'Mostrar', pedido, :class => "btn btn-outline-primary" %></td>
        <td><%= link_to 'Editar', edit_pedido_path(pedido), :class => "btn btn-outline-primary" %></td>
        <td><%= link_to 'Apagar', pedido, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+ Novo', new_pedido_path, :class => "btn btn-primary" %>
