<br><br><br><br><br><br>
<p id="notice"><%= notice %></p>

<div class="container">
<p>
  <strong>Cliente:</strong>
  <%= @pedido.cliente_id %>
</p>

<p>
  <strong>Valor total:</strong>
  <%= @pedido.valor_total %>
</p>

<%= link_to 'Editar', edit_pedido_path(@pedido), :class => "btn btn-primary" %> |
<%= link_to 'Voltar', pedidos_path, :class => "btn btn-primary" %>
</div>